{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Retrieve Extracts  {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="Web Class">Web Class</label>

        <select id="web_class" name="web_class" class="select-2 form-control form-select form-select-lg mb-3">
          {% for web_c in web_classes %} 
            <option value="{{ web_c.web_cls_num }}"> {{ web_c.web_cls_num }} : {{ web_c.web_cls_nm }} </option>
          {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="content">Attribute</label>
        <select id="attr" name="attr_nm" class="select-2 form-control form-select form-select-lg mb-3">
          {% for attr in attrs %} 
            <option value="{{ attr.attr_nm }}"> {{ attr.attr_nm }}</option>
          {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{{ download_url }}"> 
          {% if download_url != "": %}
          Download CSV
          {% endif %}
        </a>
    </div>
</form>
{% endblock %}
